[submodule "submodules/caffe/source"]
	path = submodules/caffe/source
	url = https://github.com/Allius27/caffe.git
[submodule "submodules/opencv/source"]
	path = submodules/opencv/source
	url = https://github.com/opencv/opencv
